<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <h1 class="text-3xl bg-blue-200 border border-blue-500">My Golang Project with TailwindCSS!!!</h1>
  <header>
    {{template "headerFragment"}}
  </header>
  <p>
    This is the body
  </p>
  <footer>
    {{template "footerFragment"}}
  </footer>
</body>
</html>